{% extends "base.html" %} {% block content %} {% if current_user.id == user.id %}
<h2>{{ user.name | title }} Movie List:</h2>
<a href="{{ url_for('add_movie')}}" class="btn btn-primary">Add New Movie</a>
{% if movies %}
<div class="row mt-5 shadow">
	{% for movie in movies %}
	<div class="card text-center" style="width: 18rem">
		<h5 class="card-title">{{ movie.Title}}</h5>

		<img
			src="{{ movie.Poster}}"
			class="img-fluid fixed-height border rounded"
			alt="{{ movie.Title}}"
		/>
		<div class="card-body">
			<div class="card-text">{{ movie.Year }}</div>
			<div class="card-text">Rated {{ movie.imdbRating }}</div>
			<a
				href="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id)}}"
				class="btn btn-primary"
				>Update</a
			>
			<a
				href="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id)}}"
				class="btn btn-danger"
				>Delete</a
			>
			<a
				href="{{ url_for('add_review', user_id=user.id, movie_id=movie.id)}}"
				class="btn btn-warning"
				>Add Review</a
			>
		</div>
	</div>
	{% endfor %}
</div>
{% else %}
<br /><br />
<h5>Movie List is empty</h5>
{% endif %} {% else %}
<h3>Not authorized access</h3>
{% endif %} {% endblock %}
